.info-user{
    font-size: 20px;
}
.btn-update{
    margin-top: 50px;
}
#inputBio{
    width: 63.4%;
}
#label-bio{
    margin-right: 1.6%;
}
.btn:focus,.btn:active {
   outline: none !important;
}

.btn-update{
    /*border-radius: 0px;*/
    background-color: #2ECC40;
    opacity: 0.9;
    box-shadow: 5px 5px 5px #888888;
}
.btn-update:hover{
     transform: scale(0.95, 0.95);
     opacity: 1;
     box-shadow: none;
}
.btn-update:active{
     background-color: #2ECC40;
     opacity: 1;
     box-shadow: none;
}
.btn-update-form{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.btn-update-form button{
    margin-right: 25px;
    margin-left: 25px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #777;
}
.divider-comment {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.comments-users{
    background-color: white;
    padding: 5px;
    margin: 5px;
}
.no-comments{
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 30px;
}
.bio{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.desc{
    text-align: justify;
    text-justify: inter-word;
}

.delete-image{
  width: 24px;
  opacity: 0.8;
  margin-right: 15px;
  cursor: pointer;
}

.delete-image:hover{
  transform: scale(1.05, 1.05);
  opacity: 1;
}

.right-part{
    float: right;
    margin-top: 3px;
}
.left-part{
    float: left;
}

@media only screen and (max-width: 500px) {
.bio{
    width: 100%;
  }
}