.info-user{
    font-size: 20px;
}
.btn-update{
    margin-top: 50px;
}
#inputBio{
    width: 63.4%;
}
#label-bio{
    margin-right: 1.6%;
}
.btn-update-form{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.btn-update-form button{
    margin-right: 25px;
    margin-left: 25px;
}