.btn-check-location{
    margin-top: 2px;
    margin-bottom: 2px;
}

agm-map {
  height: 300px;
}

#request-movie{
  padding-bottom: 40px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
.request-movie-container{
  overflow:auto;
}

.request-movie-info{
  position: relative;
  margin-top: 3%;
  float: left;
  width: 60%;
}
.request-movie-image{
  margin-right: 5%;
  float: right;
}

.post-movie-form{
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: #dddddd;
    margin-bottom: 20px;
    padding-bottom: 30px;

}
.post-form{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn-post-movie{
  margin-top: 40px;
  text-align: center;
}

#request-movie h2 img{
  width:60px;
  display: inline-block;
  margin-bottom: 3px;
}

.nav-post-movie{
  cursor: pointer;
  margin-top: 20px;
}

.icon-info{
    float: right;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}
.icon-info:hover > .tuto-post { 
  visibility: visible;
}
.tuto-post{
    text-transform: none;
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid grey;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    visibility: hidden;
    z-index: 10;
}

.tuto-title{
  text-align: center;
  display: block;
}

.tuto-post ul{
  padding-left: 17px;
  list-style-type: disc;
}

.btn{
    opacity: 0.95;
    box-shadow: 5px 5px 5px #888888;
}
.btn:hover{
     transform: scale(0.95, 0.95);
     opacity: 1;
     box-shadow: none;
}
.btn:active{
     opacity: 1;
     box-shadow: none;
}

.btn-search{
  margin-bottom: 30px;
}

.sk-fading-circle {
  margin: 35px auto;
  width: 40px;
  height: 40px;
  position: relative;
}


