<div class=footer>
  <span class="left">NMDb, 2017</span>

  <span class="middle">Lionel Andrieu</span>
  
  <span class="right">

    <span class="logo linkedin-logo">
      <a href="https://www.linkedin.com/in/lionel-andrieu">
        <img src="/assets/images/linkedin-logo-color.png" />
      </a>
    </span>

    <span class="logo github-logo">
      <a href="https://github.com/landrieu/NMDb">
        <img src="/assets/images/github-logo-small.png" />
      </a>
    </span>

    
    <span class="logo">
      <a href="mailto:lionel.andrieu@gmail.com?Subject=NMDb" target="_top">
     <span class="glyphicon glyphicon-envelope"> 
    </span>
     </a>
  </span>
  </span>
</div>