 #outer-circle {
   background: #385a94;
   border-radius: 50%;
   height: 300px;
   width: 300px;
   position: relative;
   /* 
    Child elements with absolute positioning will be 
    positioned relative to this div 
   */
 }
 #inner-circle {
   position: absolute;
   background: white;
   border-radius: 50%;
   height: 200px;
   width: 200px;
   /*
    Put top edge and left edge in the center
   */
   top: 50%;
   left: 50%;
   margin: -100px 0px 0px -100px;
   /* 
    Offset the position correctly with
    minus half of the width and minus half of the height 
   */
 }

 .top-5{
   width: 40%;
   margin-right: 9%;
 }
 .left{
   display: inline-block;
 }
 .right{
  display: inline-block;
 }
 .top{
   margin-top: 50px;
   margin-bottom: 50px;
 }
 .top-5 p{
   text-align: center;
   font-size: 15px;
 }

@media only screen and (max-width: 500px) {
     .top-5{
       width: 100%;
     }
}
