
<div class="location">
<h3><b>Places I went:</b></h3>
<div class="divider">  
</div> 
Show Map
<div class="divider">  
</div> 

<h3><b>Places I want to go:</b></h3>
<div class="divider">  
</div> 
<div *ngIf="placesUser">
  <ul class="list-group">
    <div *ngFor="let place of placesUser.placesToSee">
    <li class="list-group-item">{{place.title}} - {{place.address}}</li>
    </div>
  </ul>
</div>

<button *ngIf=!displayMapToSee class="btn-check-location btn btn-info center-block" (click)="showMapToSee()">Show the map </button>
<div *ngIf=displayMapToSee class="map">
  <button class="btn-check-location btn btn-info center-block" (click)="showMapToSee()">Hide the map </button>
    <agm-map [latitude]="mapToSeeLatitude" [longitude]="mapToSeeLongitude" [zoom]="15">
      <div *ngFor="let place of toSeeArray">
      <agm-marker [latitude]='place.latitude' [longitude]="place.longitude" [title]="place.title"></agm-marker>
      </div>
    </agm-map>
</div>
<div class="divider">  
</div> 

   <h3><b>Add a place:</b></h3>
  <div class="divider">  
</div> 
<div class="form-group">
  <form>
    <label>Location</label>
    <input type="text" [(ngModel)]="location" name="location" class="form-control">
     <label>To see or seen</label>
     <select id="select" class="form-control" [(ngModel)]="type" name="type">
      <option value="toSee">To See</option> 
      <option value="Seen">See</option>
    </select>
    <button class="btn-check-location btn btn-success center-block" (click)="checkLocation()">Check location </button>
    <div class="map">
    <agm-map *ngIf=displayMap [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    </div>

  </form>
    <label>Tilte fo this place</label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control">
    <button class="btn-check-location btn btn-info center-block" (click)="addPlace()">Add the place </button>
    
  </div>
</div>