.image-movie{
    width: 33%;
    display: inline-block;
    margin-top: 0;
}

.image-movie img{
    margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 15px;
}

.detail-movie{
    width: 66%;
    display: inline-block;
    padding-top:50px;
    vertical-align: top
}
.detail-movie-imdb{
    width: 50%;
    display: inline-block;
    padding-top:20px;
    vertical-align: top;
}
.info{
  width: 100%;
  margin: 0 auto;
}

.rating{
    width: 12%;
    display: inline-block;
    padding-top:20px;
    vertical-align: top;
}


.no-metascore{
  background-color: black;
}
.metascore-red{
    background-color:#FF4136;
}
.metascore-orange{
    background-color:#FF851B;
}
.metascore-yellow{
    background-color:#FFDC00;
}
.metascore-green{
    background-color:#01FF70;
}
.metascore-greener{
    background-color: #2ECC40;
}

.metascore{
    width: 50px;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}


#metascore-box{
    padding: 5px;
}

.rating-block{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.comments-users{
    margin-top: 5px;
    margin-bottom: 5px;
}

.plot-movie{
    text-align: justify;
    text-justify: inter-word;
}

.section-plot-comments{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.container{
    margin-top: 20px;
}

.your-comment{
    margin-top: 15px;
}

.btn-post-comment{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.background-image{
    width: 100%;
    height: 300px;
    position: relative;
    opacity: 0.92;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* scrol normal*/
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color:white;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}


.progress{
    margin-top: -10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
}

.comments-users{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 40px;
    margin-bottom: 5px;
    background-color: #eee;
    border-radius: 3px;
}

.comments-users .title-comment{
    font-size: 16px;
}


.btn:focus,.btn:active {
   outline: none !important;
}

.btn-post{
    /*border-radius: 0px;*/
    background-color: #2ECC40;
    opacity: 0.9;
    box-shadow: 5px 5px 5px #888888;
}
.btn-post:hover{
     transform: scale(0.95, 0.95);
     opacity: 1;
     box-shadow: none;
}
.btn-post:active{
     background-color: #2ECC40;
     opacity: 1;
     box-shadow: none;
}
.full-page{
    margin-bottom: 60px;
}