.btn-register{
    margin: 60px auto;
}

.icon-info{
    float: right;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}
.icon-info:hover > .tuto-register { 
  visibility: visible;
}
.tuto-register{
    position: absolute;
    width: 280px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid grey;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    visibility: hidden;
}