 #map {
   
        width: 100%;
      }
.liked{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
h3{
  border-bottom-color: #777;
  margin-top: 15px;
}

.btn:focus,.btn:active {
   outline: none !important;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #113355;
}

a img{
  width: 24px;
  opacity: 0.8;
}

a img:hover{
  transform: scale(1.05, 1.05);
  opacity: 1;
}
.delete-image{
  width: 24px;
  opacity: 0.8;
  margin-right: 15px;
  cursor: pointer;
}

.delete-image:hover{
  transform: scale(1.05, 1.05);
  opacity: 1;
}
.right-section{
  float: right;
}

.no-liked{
    text-align: center;
    padding: 30px;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
}
p{
    margin: auto;
}

@media only screen and (max-width: 500px) {
.liked{
    width: 100%;
  }
}