<!--div class="jumbotron text-center">
  <h1> MEAN Auth</h1>
  <p class="lead">Welcome to our custom MEAN auth</p>
<div>
<a class="btn btn-primary" [routerLink]="['/register']"> Register </a>
<a class="btn btn-default" [routerLink]="['/login']"> Login </a>
<button (click)="displayNotifSuccess('success')" class="btn btn-success">Notif</button>
<button (click)="displayNotifInfo('info')" class="btn btn-info">Notif</button>
<button (click)="displayNotifWarning('warning')" class="btn btn-warning">Notif</button>
<button (click)="displayNotifDanger('danger')" class="btn btn-danger">Notif</button>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div-->

<div class="paralax">

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
      Welcome
    </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>Content of this Website</h2>
    <p>
      There are three kind of users for this web site
    </p>
    <ul>
      <li>Admin: Can access to each page of the website, he can create, read, update and delete any content, movies comments,
        users ...
      </li>
      <li>Resgistered user: He can access to movies description registered in the database, read and post comment, he can edit
        his profile add favorite places, visualise it on a map, add movies to his liked movie list and he can rate a movie.</li>
      <li>Visitor: </li>
    </ul>

  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
      Below
    </span>
    </div>
  </div>


  <section class="section section-dark">
    <h2>Why I created this website</h2>
    <p>
      I created this website in order to practice my Angular skills. I learnt it, during my academic exchange in the University
      of Western Ontario, in Canada during the Winter Semester 2017. I realized a project based on the MEAN stack. M stands
      for MongoDb which is a noSQL database, the E stands for Express, it is a powerful Node Js framework, very useful to
      manage route. The A stands for Angular, a front end framework, by the way, I use Angular 4 for this website. And the
      last but not least, the N stands for Node Js the backend part of the project.
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
      A bit more
    </span>
    </div>
  </div>


  <section class="section section-dark">
    <h3><b>Who am I ?</b></h3>
    <p>
      I will graduate soon of a Master in Computer Science, it's expected at the end of November, I am currently doing a 6 month
      internship in France as Front developper in a travel agency. I have an interest in new technology, I want to learn
      more about web development. Out of work, I to like travel, discover new places, meet different culture. I am also a
      big cineman fan, when I got time I really like watch series or movies especially science fiction, western, and thriller
      movies.
    </p>
    <br>
    <h3><b>What next ?</b></h3>
    <p>At the end of my internship, I'd like to find a perfect job for me, which is a work abroad ! Outside France and maybe
      Europe. My wish would be to work on the Front and Back end.
    </p>
    <br>
    <h3><b>How to reach me ?</b></h3>
    <p>
      By phone: +33 7-93-88-48-12<br> Email: lionel.andrieu@gmail.com<br>
    </p>
    <div class="linkedin-logo">
      <a href="https://www.linkedin.com/in/lionel-andrieu">
    <img src="/assets/images/linkedin-logo-color.png" />
    </a>
    </div>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
      cvez
    </span>
    </div>
  </div>
</div>