.paralax{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
html, body{
    height: 100%
}
.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* scrol normal*/
    background-attachment: fixed;
}
.section{
    text-align: center;
    padding: 30px 80px;
}
.section-light{
    background-color: #f4f4f4;
    color:#666;
}
.section-dark{
    background-color: #282e34;
    color:#ddd;
}

.ptext .border{
    background-color: #111;
    color:white;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}

.github-logo{
    margin-left: 15px;
    padding: 5px;
    border: white 1px solid;
    border-radius: 5px;
    background-color: white;
}

.github-logo img{
    height: 20px;
    margin-bottom: 3px;
}
.github-logo img:hover{
    transform: scale(1.15, 1.15); /** default is 1, scale it to 1.5 */
    opacity: 1;
}

.welcome-section a:hover,
.welcome-section a:active,
.welcome-section a:visited,
.welcome-section a:link{
    text-decoration: none;
}

.link-register{
    color: #666;
}


@media(max-width: 570px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
ul{
    text-align: start;
}

.pimg1{
    background-image: url("/assets/images/background/CI.jpeg");
    min-height: 91vh;
}

.pimg2{
    background-image: url("/assets/images/background/FO.jpeg");
    min-height: 60vh;
}

.pimg3{
    background-image: url("/assets/images/background/CA.jpeg");
    min-height: 60vh;
}
.linkedin-logo{
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.linkedin-logo img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}
.linkedin-logo img:hover {
    transform: scale(1.15, 1.15); /** default is 1, scale it to 1.5 */
    opacity: 1;
    filter: grayscale(0%);
}

.welcome-section p,
.purpose-section p {
    text-align: justify;
}

.welcome-section{
    text-decoration: none;
}

.welcome-section ul{
        padding-left: 80px
}
@media only screen and (max-width: 768px) {
p{
   text-align: justify;
  }
.contact{
    text-align: center;
}
.section{
    padding: 10px 10px;
}

}
    
