<div class="paralax">

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
      Welcome
    </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>Content of this Website</h2>
    <p>
      There are three kinds of users
    </p>
    <ul>
      <li>Admin: Can access to each page of the website, he can create, read, update and delete any content, movies, comments,
        users ...
      </li>
      <li>Registered user: He can access to the movies description registered in the database, read and post comments, he can edit
        his profile add favorite places, visualise it on a map, add movies to his liked movie list and he can rate a movie.</li>
      <li>Visitor: Just access to the movie page</li>
    </ul>

  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
      Purpose
    </span>
    </div>
  </div>


  <section class="section section-dark">
    <h2>Why I created this website</h2>
    <p>
      I created this website in order to practice my Angular skills. I learnt it, during my academic exchange in the University
      of Western Ontario, in Canada during the Winter Semester 2017. I realized a project based on the MEAN stack. M stands
      for MongoDb which is a noSQL database, the E stands for Express, it is a powerful Node Js framework, very useful to
      manage route. The A stands for Angular, a front end framework, by the way, I use Angular 4 for this website. And the
      last but not least, the N stands for Node Js the backend part of the project.
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
      Me
    </span>
    </div>
  </div>


  <section class="section section-dark">
    <h3><b>Who am I ?</b></h3>
    <p>
      I will graduate in November of a Master in Computer Science. I am currently doing a 6 month
      internship in France as Front developer in a travel agency. I have an interest in new technology, I want to learn
      more about web development.
    </p>
    <br>
    <h3><b>What next ?</b></h3>
    <p>
    </p>
    <br>
    <h3><b>How to reach me ?</b></h3>
    <p>
      By phone: +33 7-93-88-48-12<br> Email: lionel.andrieu@gmail.com<br>
    </p>
    <div class="linkedin-logo">
      <a href="https://www.linkedin.com/in/lionel-andrieu">
    <img src="/assets/images/linkedin-logo-color.png" />
    </a>
    </div>
  </section>

  <div class="pimg1">
    <!--div class="ptext">
      <span class="border">
      
    </span>
    </div-->
  </div>
</div>