.notification{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    background-color: #00C851;
    position: fixed;
    top:40px;
    opacity: 0.9;
    z-index: 9;
    border-radius: 5px;
}

.notification-text{
    text-align: center;
    color: white;
    font-size:20px;
    margin-top:10px;
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

.progress{
    display: none;
    width:21%;
    margin-left: auto;
    margin-right: auto;
    top: 22px;
    /*margin-top: -45px;*/
    z-index: 100;
    left:40%;
    position:absolute;
}

.prog{
    width: 0%;
    height: 5px;
    background-color: #00C851;
    top: 60px;
    position: absolute;
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
.progress{
    width: 20%;
    left:45%;
  }
}
@media only screen and (max-width: 425px) {
.progress{
    left: 32%;
    width: 35%;
  }
}