.request-movie-container{
  overflow:auto;
}

.request-movie-info{
  position: relative;
  margin-top: 1%;
  float: left;
  width: calc(100% - 210px);
}
.request-movie-image{
  margin-top: 10px;
  margin-right: 5%;
  float: right;
  
}

.info-movie{
  width: 100%;
  text-align: initial;
}

.lbtn-edit-delete{
  margin-bottom: 20px;
}
.btn-edit-delete{
  text-align: center;
  padding: 10px;
  background-color: #f8f5f0;
  opacity: 0.9;
  border: solid 1px #ddd;
  border-top-style: none;
}
.btn-edit-delete button{
  margin: 0 20px;
  width: 100px;
}

.plot-movie{
  text-align: justify;
  text-justify: inter-word;
}

.title-movie{
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.metascore{
  color: white;
  width: 60px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.no-metascore{
  background-color: black;
}
.metascore-red{
    background-color:#FF4136;
}
.metascore-orange{
    background-color:#FF851B;
}
.metascore-yellow{
    background-color:#FFDC00;
}
.metascore-green{
    background-color:#01FF70;
}
.metascore-greener{
    background-color: #2ECC40;
}

.left-title{
    position: relative;
    display: flex;
    float: right;
}
.left-title img{
      margin-right: 20px;
      cursor: pointer;
}

.left-title img:hover{
      background-image : url("../../../assets/images/icons/full-heart.png");
      background-size: 20px;
}
.title-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn:focus,.btn:active {
   outline: none !important;
}
.btn:hover{
  transform: scale(1.05, 1.15);
}

.btn{
    opacity: 0.95;
    box-shadow: 5px 5px 5px #888888;
}
.btn:hover{
     transform: scale(0.95, 0.95);
     opacity: 1;
     box-shadow: none;
}
.btn:active{
     opacity: 1;
     box-shadow: none;
}

.btn-warning{
  background-color: #FF851B;
}

.btn-danger{
  background-color: #FF4136;
}

.content{
  min-height: 1800px;
  text-align: center;
}

form{
  margin: 20px;
}

#filterByTitle,
#filterByDirector{
  width: 400px;
  margin-right: 15px;
}

@media only screen and (max-width: 500px) {
  
  .request-movie-info{
    width: 100%;
  }

  .request-movie-image{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .request-movie-image img{
    width: 100px;
  }
  .title-movie{
    margin-bottom: 10px;
    text-align: unset;
  }
  .metascore{
    text-align: center;
  }
  #filterByTitle,
  #filterByDirector{
  width: 100%;
  }
}

.card-movie{
  width: 300px;
  border-radius: 1px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  margin: 30px;
  text-align: initial;
  /*overflow: hidden;*/
}
.card-overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  cursor: pointer;
}

.card-top{
  width: 100%;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}
.card-movie:hover .card-overlay{
  bottom: 0;
  height: 100%;
}

.card-poster{
  width: 48%;
  height: 162px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}
.card-poster img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-metascore-like{
  height: 162px;
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.card-info{
  width: 250px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 8px;
}

.card-info .title-movie{
  font-size: 18px;
}
.card-plot{
  margin-top: 16px;
  text-align: justify;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 16x;
  position: relative;
  overflow: hidden;
  max-height: 240px;
}

.list-movies{
  display: inline;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-movie .metascore{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.card-movie .rating{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.list-down{
  margin-bottom: 20px;
}
.divider {
  height: 1px;
  width:80%;
  display:block; /* for use on default inline elements like span */
  margin: 1px auto;
  overflow: hidden;
  background-color: #e5e5e5;
}

